<section style="margin-top: 20px;">


    <% if (typeof message !== 'undefined') { %>
      <h4><%= message %></h4>
    <% } %>
    <div class="form-box">
      <div class="form-value">
    <form action="" method="post">
      <div class="inputbox"style="margin-top: 20px;">
        <input type="password" name="password" placeholder="Enter password" required>
        <input type="hidden" name="user_id" value="<%= user_id %>">
    </div>

    <input type="submit" value="Reset Password">

    </form>
  </div>

    </div>
  </section>